/* ==================== */
/* BASIC SETUP          */
/* ==================== */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}
ul li {
    list-style: none;
}

/* ==================== */
/* REUSABLE COMPONENTS  */
/* ==================== */

.row {
    max-width: 114rem;
    margin: 0 auto;
}
.box {
    padding: 1%;
}


/* ==================== */
/* HEADER SECTION       */
/* ==================== */

header {
    background: url(img/header-bg.jpg);
    background-repeat: no-repeat;
    height: 100rem;  

    background-attachment: scroll;
    background-position: center center;
    
}
a.h-icon {
    display: inline-block;
    margin-top: 4.66rem;
    margin-left: 6rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    font-weight: 700;
}
.main-nav {
    float: right;
    margin-top: 5rem;
    margin-right: 6rem;
}
.main-nav li {
    display: inline-block;
    margin-left: .8rem;
}
.main-nav li:first-child {
    margin-left: 0; 
}
.main-nav li a:link,
.main-nav li a:visited {
    text-transform: uppercase; 
    text-decoration: none;
    color: #212121; 
    font-weight: 700; 
    font-size: 2rem;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
    margin: 40rem 6rem 0 0;
    float: right;
    font-weight: 900;
    text-align: right;
}

h1::after {
    content: "";
    display: block;
    height: .4rem;
    background: black;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 30rem;
}
header p {
    font-size: 1.8rem;
    display: inline-block;
    font-weight: 400;
    margin: 4rem 6rem 0 55rem;
    text-align: right;
    line-height: 2;
    color: black;
}
.btn {
    float: right;
    margin-right: 6rem;
    padding: .3rem 3.15rem;
    border: .2rem solid #232323;
    text-decoration: none; 
    margin-top: 5rem; 
    font-weight: 600;
}


/* ===================== */
/* WHO & WHY (1) SECTION */
/* ===================== */
.who-and-why1 {
    background: white;
    background-position: center center;
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.who-and-why1 .row img {
    display: block;
    margin-left: auto;
    margin: auto;
    height: 3.9rem;
    width: 3.9rem;
}
.who-and-why1 .row h2 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 2rem;
    font-weight: 900;
}
.who-and-why1 .row p {
    text-align: center;
    margin-top: 6rem;
    line-height: 2;
    font-weight: 400;
}


/* ===================== */
/* WHO & WHY (2) SECTION */
/* ===================== */

.who-and-why2 {
    background: #efefef;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
}
.who-and-why2 h3 {
    color: black;
    margin-top: 4rem;
}
.who-icon2 {
    height: 3.5rem;
    margin-bottom: 1.2rem;
}
.little-description {
    margin-top: 2rem;
    line-height: 1.5;
}
.who-and-why2 .box {
    padding: 0 5rem 0 5rem;
}